.header-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 130px;
  background-color: #e4afff;
  border-bottom: 2px solid #c86bfa;
  font-family: 'Courier New', monospace;
  font-size: xx-large;
  color: #fbe300;
  text-shadow: 2px 2px #c86bfa;
  font-weight: bold;
}

.wing {
  height: 80%;
  margin: 2em;
}

.wingRight {
  transform: scaleX(-1);
}

.header-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #c86bfa;
}

button {
  color: #fbe300;
  background: transparent;
  border: none;
  margin: .75em;
  cursor: pointer;
}